.Thumbnail {
  display: flex;
  flex-grow: 0;
  margin: 2px 1px;

  cursor: pointer;

  & > img {
    width: 100%;
  }
}

@media screen and (min-width: 35.5em) {
  .Thumbnail:hover {
    -moz-transform: scale(1.042);
    -ms-transform: scale(1.042);
    -o-transform: scale(1.042);
    -webkit-transform: scale(1.042);
    transform: scale(1.042);
    -moz-transition: all ease-out 100ms;
    -ms-transition: all ease-out 100ms;
    -o-transition: all ease-out 100ms;
    -webkit-transition: all ease-out 100ms;
    transition: all ease-out 100ms;
  }
}
