@import '../../colors.scss';

.Content {
  & > :global(.pure-menu-horizontal) {
    position: fixed;
    display: flex;
    justify-content: space-between;

    z-index: 42;
    background-color: $primary-color;

    padding: 0 1em;

    border-bottom: 1px solid $secondary-color;

    -moz-transition: all ease-out 210ms;
    -ms-transition: all ease-out 210ms;
    -o-transition: all ease-out 210ms;
    -webkit-transition: all ease-out 210ms;
    transition: all ease-out 210ms;

    &.Show {
      top: 0;
    }

    &.Hide {
      top: calc(-4em - 3px);
    }

    & > .PureMenuHeadingWrapper {
      display: inline-block;
      min-width: fit-content;

      .Logo {
        display: inline-block;
        height: 0.9em;
        margin-right: 1em;
        vertical-align: middle;
        transform: translateY(-0.1em);

        filter: invert(64%) sepia(29%) saturate(7370%) hue-rotate(9deg) brightness(100%) contrast(101%);
      }

      :global(.pure-menu-link) {
        &:hover, &:focus {
          background-color: $primary-color;
        }
      }
    }

    & > .PureMenuListWrapper {
      display: inline-block;
      min-width: fit-content;
    }

    :global(.pure-menu-link) {
      padding: 1.5em 4em;
      color: $text-color;

      &:hover,
      &:focus {
        background-color: $accent-color;
        color: $accent-text-color;
      }
    }
  }
}

@media screen and (max-width: 35.5em) {
  .Content {
    & > :global(.pure-menu-horizontal) {
      padding: 0;
    }
  }
}
